.mark-green{
    border: green 1px solid;

}

.mark-red{
    border: red 1px solid;
}

.table-row-view-orders{
    margin: 1vh 0 ;
    border-radius: 5px;  
}
.table-row-view-orders div{
    display: inline-block;
    width: 18%;
    margin-right: 2%;
}
.table-row-view-orders button{
    display: block;

}

@media screen and (max-width: 992px){
    .table-row-view-orders{
        zoom: 70%;
    }
}
@media screen and (max-width: 700px){
    .table-row-view-orders{
        zoom: 50%;
    }
}

